@import url('./global.css');

body {
  font-size: var(--base-font-size, 16px);
}
body, #wrapper {
  height: 100vh;
  overflow-y: hidden;
}
#root {
  container-type: inline-size;
  height: 100vh;
  overflow-y: hidden;
}
@media (max-width: 1126px) {
  #root {
    width: 100vw;
    margin: 0 0;
    box-sizing: border-box;
  }
}
h1, h2 {
  font-weight: 550;
  line-height: 1.05;
}
h2 {
  border-bottom: 4px dotted var(--ui-border-color, gray);
  margin-top: 1.4em;
}
h3, h4, h5, h6 {
  color: var(--heading-color, black);
}
header {
  margin: 1.2em 0 1.5em;

  h1:has(+ :is(p, address)) {
    margin-bottom: .25em;
  }
  p:has(time) {
    text-align: right;
    margin-top: .2em;
  }
} 
article > :not(header) {
  text-align: left;
}
p { margin: 1em auto; }
dt { font-weight: bold; }

main {
  padding: 0 5cqi;
  height: calc(100vh - 1em - 1lh);
  overflow-y: scroll;
  scrollbar-width: var(--scrollbar-margin, .75em);
}
@media (max-width: 1126px) {
  main {
    padding-right: calc(5cqi - var(--scrollbar-margin, .75em));
  }
}
@media only screen and (min-width: 840px) {
  main {
    padding: 0 5%;
    padding-right: calc(5% - var(--scrollbar-margin, .75em));
  }
}

/* フォーム */
form {
  margin: 1em auto;
  width: fit-content;

  label {
    margin-right: .6em;
  }
  fieldset {
    margin: 1em auto 1.2em;
    padding-block-end: 0.375em;
  }
}

/* 国旗 */
svg.flag {
  height: 1em;
  margin-inline: .2ch;
  vertical-align: -0.125em;
}