:root{
  --max-content-width: min(95vw, 1200px);
  --base-font-size: 16px;

  --heading-font: 'Meiryo', "SF Pro Display", "Ubuntu", "Helvetica Neue", "Noto Sans JP", sans-serif;
  --heading: var(--heading-font);

  --ul-border-color: gray;
}

hgroup h1:has(+ p) {
  margin-bottom: .5em;
}

body {
  font-size: var(--base-font-size, 16px);
}
p, li { margin: 1em auto; }

#root {
  container-type: inline-size;
  padding: 0 1em;
}
@media only screen and (min-width: 840px) {
  #root {
    padding: 0 5%;
  }
}
div#disclaimer {
  border: 3px solid var(--ul-border-color, gray);
  border-radius: 1em;
  margin: 1em auto;
  padding: 1em 2em 0;

  p {
    text-align: left;
  }
}

/* フォーム */
form {
  margin: 1em auto;
  width: fit-content;

  label {
    margin-right: .6em;
  }
  fieldset {
    margin: 1em auto 1.2em;
    padding-block-end: 0.375em;
  }

  input:has(+ label) {
    margin-right: 1.2em;
  }
}

