@import url('./global.css');

body {
  font-size: var(--base-font-size, 16px);
}
h1, h2 { font-weight: 550; }
p, li { margin: 1em auto; }

#root {
  container-type: inline-size;
  padding: 0 1em;
}
@media only screen and (min-width: 840px) {
  #root {
    padding: 0 5%;
  }
}

/* フォーム */
form {
  margin: 1em auto;
  width: fit-content;

  label {
    margin-right: .6em;
  }
  fieldset {
    margin: 1em auto 1.2em;
    padding-block-end: 0.375em;
  }
}

